.shake {
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(8px);
  }
}

.box {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid #8e8e8e;
}

.col {
  height: 62px;
}

#color-spotter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}
